$headerHeight: 50px;
$footerHeight: 0px;
$achievementsPadding: 2px;

// Colours
$achievementsGreen: #493052;
$achievementsHighlight: #fff;
$achievementsBackground: #fff;
$achievementsLightGreen: #B291BD;