@import 'achievements-constants';

.achievements-menu {
    background-color: $achievementsGreen;
}

.achievements-brand {
    font-weight: bold;
    font-size: 24px;
    color: $achievementsHighlight !important;
    > img {
        height: 30px;
        width: 30px;
    }
}

.achievements-links {
    > .active {
        > a {
            color: $achievementsHighlight !important;
            background-color: $achievementsLightGreen !important;
        }
    }
}

.navbar-default .navbar-nav {
    > li {
        > a {
            color: $achievementsLightGreen;
        }
        > a:hover {
            color: #FFF;
        }
    }
}